
.index-wrapper {
    min-width: 1000px;
    max-width: 1100px;
    margin: 240px auto 0;
}

.index-form {
    width: 600px;
    margin: 0 auto;
}

.btns {
    margin: 20px 0 0;
    text-align: center;
}