.pager {
    padding: 40px 0 0;
}

.pager ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.pager ul li {
    list-style: none;
}

.pager ul li a {
    display: block;
    color: #000;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 20px;
}

.pager ul li.curr a {
    color: #00BCD4;
}